# --- Binarios y Ejecutables ---
bin/*
!bin/*.bat
*.exe
*.dll
*.so
*.dylib

# --- Archivos Intermedios de Compilación ---
*.o
*.obj
*.lst
*.idy
*.gnt
*.int

# --- Archivos de Configuración de IDE (OpenIDE / VS Code) ---
.project
.settings/
.vscode/
.DS_Store

# --- Temporales y Logs ---
*.log
*.tmp
docs/logs/*
!docs/logs/.gitkeep
config/db_config.cfg
DOCUMENTACION_COMPLETA.md
DOCUMENTACION_COMPLETA.pdf
docs/FuncionamientoTrickleFeedv1.md
bin/compilar_v2.bat
bin/compilar_v2.bat
bin/compilar_v2.bat
TFMX_UPGRADE_CHECKLIST.txt
transacciones_generadas/DEP-999-160526-213750-160526-001.TXT
transacciones_generadas/DEP-999-160526-213959-160526-001.TXT
transacciones_generadas/HIP-999-160526-213750-160526-001.TXT
transacciones_generadas/HIP-999-160526-214000-160526-001.TXT
transacciones_generadas/IMP-999-160526-213750-160526-001.TXT
transacciones_generadas/IMP-999-160526-214000-160526-001.TXT
transacciones_generadas/RET-999-160526-213750-160526-001.TXT
transacciones_generadas/RET-999-160526-213959-160526-001.TXT
transacciones_generadas/TAR-999-160526-213750-160526-001.TXT
transacciones_generadas/TAR-999-160526-213959-160526-001.TXT
